/*------------------------------------*\
** COLORS
\*------------------------------------*/

$color-primary: #2f74ea;
$color-secondary: #00adbf;

$white--true: #ffffff;
$white: #fafafa;
$color-gray--lighter: rgba(0, 0, 0, 0.1);
$color-gray--light: rgba(0, 0, 0, 0.36);
$color-gray--lightish: rgba(26, 26, 26, 0.7);
$color-gray: rgba(0, 0, 0, 0.65);
$color-gray--dark: #292929;
$color-gray--darker: #353535;
$black: #1a1a1a;
$black--true: #000000;

$color-highlight: rgba(244, 154, 3, 0.3);

$color-info: #2196f3;
$color-success: #4caf50;
$color-warning: #f1c40f;
$color-alert: #d9543e;

/*------------------------------------*\
** BREAKPOINTS
\*------------------------------------*/

$small: 0;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

$breakpoints: (
	small: $small,
	medium: $medium,
	large: $large,
	xlarge: $xlarge,
	xxlarge: $xxlarge,
);

/*------------------------------------*\
# GRID
\*------------------------------------*/

//gutters
$gutter: 24px;
$gutter--small: 16px;
$gutter--medium: 20px;

$cell: 100px;

/*------------------------------------*\
** BUTTONS
\*------------------------------------*/

$button-radius: 6px;
$button-padding--lr: 32px;
$button-padding--tb: 20px;
$button-icon--size: 48px;

/*------------------------------------*\
** INPUTS
\*------------------------------------*/

$input-radius: 8px;
$input-padding: 16px 28px;
$input-padding-tb: 16px;
$input-padding-lr: 28px;
$input-border: 1px solid $color-gray--lighter;
$input-height: 40px;

/*------------------------------------*\
** FONT WEIGHTS
\*------------------------------------*/

$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--semibold: 600;
$font-weight--bold: 700;
$font-weight--extrabold: 800;
$font-weight--heavy: 900;

/*------------------------------------*\
** FONT SIZES
\*------------------------------------*/

$copy-font-sizes: (
	small: (
		16px,
		1,
	),
	medium: (
		16px,
		1,
	),
	large: (
		16px,
		1,
	),
	xlarge: (
		16px,
		1,
	),
	xxlarge: (
		16px,
		1,
	),
);

$h1-font-sizes: (
	small: (
		28px,
		1.43,
	),
	medium: (
		32px,
		1.43,
	),
	large: (
		48px,
		1.33,
	),
);

$h2-font-sizes: (
	small: (
		22px,
		1.52,
	),
	medium: (
		24px,
		1.52,
	),
	large: (
		32px,
		1.2,
	),
);

$h3-font-sizes: (
	small: (
		16px,
		1,
	),
);

$h4-font-sizes: (
	small: (
		18px,
		1.56,
	),
	medium: (
		20px,
		1.56,
	),
	large: (
		24px,
		1,
	),
);

$h5-font-sizes: (
	small: (
		16px,
		1.2,
	),
	medium: (
		16px,
		1.2,
	),
	large: (
		16px,
		1.2,
	),
	xlarge: (
		16px,
		1.2,
	),
	xxlarge: (
		16px,
		1.2,
	),
);

$h6-font-sizes: (
	small: (
		16px,
		1.2,
	),
	medium: (
		16px,
		1.2,
	),
	large: (
		18px,
		1.78,
	),
);

/*------------------------------------*\
# Transitions
\*------------------------------------*/

$transition-time: 0.22s;

$input-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
$input-offset: 6px;

$hover-opacity: 0.75;

$border--gray-lighter: 1px solid $color-gray--lighter;
