.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 1;
    padding: 0.875rem 1.5rem;
    font-weight: $font-weight--medium;
    line-height: 1;
    height: 2.375rem;
}

.btn--primary {
    background: $color-primary;
    color: $white--true;
    border: none;
    outline: none;
    border-radius: $input-radius;
}

.btn--remove {
    margin-left: auto;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
	font-size: 0.75rem;
	color: $black;
    opacity: 0;
	transition: $transition-time;
	opacity: 0.4;
	visibility: hidden;

	svg path {
		transition: $transition-time;
	}

	&:hover {
		opacity: 1;
		svg path {
			stroke: $color-alert;
		}
	}
}
