.editor {
	display: flex;
	grid-gap: $gutter;
	height: 100%;
	padding-top: 40px;
	padding-left: 138px;
	padding-right: 54px;

	> section {
		padding-top: $gutter;
	}

	> section {
		width: 100%;
	}

}

.editor__header {
	padding-bottom: $gutter;
	margin-bottom: $gutter;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



 
//Added by levara 
.editor-wrapper {
	display: flex;
	grid-gap: $gutter;
	height: 100%;
	padding-top: 136px;
	padding-left: 138px;
	padding-right: 54px;
  width: 100%;

	> section {
		padding-top: $gutter;
	}

	> section {
		width: 100%;
	}

}
