
/* defaults */

input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;

    &::placeholder {
        opacity: 1;
        color: $color-gray--light;
    }
}

input {
    &[data-valid="false"],
    &--alert {
        border-color: $color-alert;
    }
}

input[hidden] {
    display: none;
}

.input {
    border: $border--gray-lighter;
    border-radius: $input-radius;
    transition: $transition-time;
    padding: 10px 12px;

    &:hover {
        border-color: rgba($color-primary, 0.5);
    }

    &:focus {
        border-color: $color-primary;
    }
}

.input--item-name {
    border: $input-border;
    border-radius: $input-radius;
    border: $input-border;
    padding: 14px 12px;
    font-size: 14px;
    height: $input-height;
    width: 100%;
}

.input--add-field {
    height: $input-height;
    margin-bottom: 20px;
    border: $border--gray-lighter;
    border-radius: $input-radius;
    //overflow: hidden;
    transition: $transition-time;
    font-size: 14px;
    color: rgba($black, 0.85);
    background: transparent;
    width: 100%;
    padding: 8px 12px;

    &:hover,
    &:focus,
    &:active {
        border-color: $color-primary;
    }
}

.input--search {
    width: 44.44%;
    font-size: 16px;
    display: flex;
    margin-left: auto;
    text-align: left;
}

.search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    * {
        margin: 0;
    }
}


.select {
    position: relative;
    padding: 0;
    border: none;
}

.select__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: translateY(10px);
    background: $white--true;
    text-align: left;
    border: $input-border;
    z-index: 10;
    width: 300px;
    height: 30vh;
    border-radius: $input-radius;
    overflow: hidden;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.14);
    font-size: 14px;

    li {
        padding: 10px;
        cursor: pointer;
        transition: $transition-time;

        &:hover {
            background: $color-gray--lighter;
        }
    }
}
