.field {
    @extend .input;
    padding: 0;
    margin-bottom: 10px;
    //overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .field__actions {
        button {
            opacity: 0;
        }
    }

    &:hover {
        border-color: rgba($color-primary, 0.5);

        .field__actions button {
            opacity: 1;
            visibility: visible;
        }
    }

    &--active {
        &:hover {
            border-color: $color-primary;
        }

        .field__actions button {
            opacity: 0.85;
            visibility: visible;
        }

        .field__error {
          display: block;
        }
    }

    .btn--remove:hover {
        opacity: 1;
    }

    mark,
    .mark {
        display: inline-block;
        font-size: inherit;
        line-height: inherit;
        border: none;
        outline: 2px solid transparent;
        padding: 0;
        transition: $transition-time;
        cursor: pointer;

        &:focus {
            outline: 2px solid $color-primary;
        }
    }

    button.mark {
        padding: 0 2px;
    }
}

.field__error {
    position: static;
    top: 100%;
    left: 0;
    line-height: 1.25;
    font-size: 14px;
    margin: 0;
    border: none;
    padding: 8px 12px;
    background: $color-alert;
    color: $white;
    width: 100%;
    border-top: 1px solid $color-alert;
    display: none;
    z-index: 1;
    margin-top: 4px;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.field--error {
    border-color: $color-alert;

    &.field--active {
        border-color: $color-alert;

        &:hover {
            border-color: $color-alert;
        }
    }
}

.field--entity {
    // height: $input-height;
    min-height: $input-height;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 12px;
    line-height: 1;
    cursor: pointer;
    min-height: 42px;

    .field__value {
        width: 25%;
    }

    .field__value input {
        border: none;
    }
}

.field--intent {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    transition: $transition-time;
    position: relative;

    &.field--active {
        z-index: 5;

        .field__input {
            pointer-events: all;
        }
    }

    &.field--invalid {
        border-color: $color-alert;
        color: $color-alert;
    }

    .field__main {
        width: 100%;
        display: flex;
        position: relative;

        .field__actions {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 100%;
        }
    }

    .field__input {
        width: 100%;
        position: relative;
    }

    .field__input {
        &.error {
            color: $color-alert;
        }
    }

    .field__actions {
        height: 100%;
    }
}

.model-list {
    width: 100%;
    font-size: 12px;
    overflow: hidden;

    .btn--remove {
        transform: scale(0.85);
    }
}

.model-list__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    align-items: center;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    font-size: inherit;
    height: 32px;
    line-height: 1;
    border-top: 1px solid $color-gray--lighter;
    border-bottom: 1px solid $color-gray--lighter;
    text-transform: uppercase;
    color: $color-gray--light;

    strong {
        font-weight: $font-weight--medium;
    }
}

.model-list__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    align-items: center;
    width: 100%;
    line-height: 1.75;
    padding: 12px;

    &:hover {
        background: rgba($color-primary, 0.035);
    }

    input {
        border: none;
        padding-right: 24px;
        height: 100%;
        font-size: inherit;
        border-bottom: 1px solid transparent;
        font-family: inherit;

        &:focus {
            outline: none;
            border-bottom-color: $color-primary;
        }
    }
}

.field--active {
    border: 1px solid $color-primary;
    cursor: default;
    z-index: 2;

    &:hover {
        border: 1px solid $color-primary;
    }
}

.field--padded {
    padding: 14px 12px;
}

.field--edit {
    cursor: default;
    border-color: $color-primary;

    .field__inner {
    }

    .field__row {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.field__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    line-height: 1;
}

.field__padded-wrapper {
    min-height: $input-height;
    padding: 10px 12px;
    list-style: none;
    width: 100%;
}

.field__actions {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    button {
        border: none;
        height: 100%;
        background: transparent;
        width: 38px;
        padding: 0;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: $transition-time;

        img {
            width: 18px;
        }

        &:focus,
        &:hover {
            outline: none;

            svg g {
                stroke: $color-alert;
            }
        }
    }
}

.field__synonyms {
    display: inline-flex;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-right: 44px;
    margin: -4px 0 0 -4px;
    width: calc(100% + 4px);

    > * {
        margin: 4px 0px 0px 4px;
    }
}

.synonym {
    padding: 4px;
    border: $input-border;
    border-radius: 2px;
    font-size: 14px;
    position: relative;
    white-space: nowrap;
    line-height: 100%;
    display: flex;
    align-items: center;
    transition: $transition-time;

    &:hover {
        border-color: $color-primary;

        .synonym__remove {
            opacity: 1;
        }
    }
}
.synonym__remove {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 10px;
    opacity: 0.5;
    transform: translateY(1px);
    padding-left: 4px;
    transition: $transition-time;

    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        cursor: pointer;
        columns: $color-alert;
    }
}

.field__value--primary {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.field__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.taggable-text {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: text;
    caret-color: $black;
    //height: $input-height;
    line-height: normal;
    outline: none;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.taggable-text__input,
.taggable-text__tags {
    width: 100%;
}

.taggable-text__input {
    outline: none;
    line-height: 1.25;
    padding: 10px 12px;
    border-bottom: 1px solid transparent;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

    &:focus {
        outline: none;
        background: rgba($color-primary, 0.065);
    }
}

[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #888;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    padding: inherit;
}

@keyframes popIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInOnShow {
    from {
        height: 0;
        opacity: 0;
        padding: 0;
    }
    to {
        opacity: 1;
        height: auto;
        padding: 12px;
    }
}

[data-field-valid="false"] {
    border-color: $color-alert;

    &:hover {
        border-color: $color-alert;
    }
}

[data-valid="false"] .taggable-text__input {
    color: $color-alert;
}

.field--active {
    [data-valid="false"] .taggable-text__input {
        color: $color-alert;
        background: rgba($color-alert, 0.05);
    }
}

input[data-valid="false"] {
    color: $color-alert;
    border-bottom: 1px dashed $color-alert;

    &:hover,
    &:focus {
        border-bottom: 1px dashed $color-alert;
    }
}

input:invalid {
    border-color: $color-alert;
    color: $color-alert;
    box-shadow: none;

    &:focus {
        border-color: $color-alert;
    }
}
