/*------------------------------------*\
# LAYOUT
\*------------------------------------*/

.layout {
	&--editor-content {
		width: 100%;
		max-width: 45.625rem;
	}
}

/*------------------------------------*\
# FLEX
\*------------------------------------*/

.flex {
	display: flex;
	align-items: center;
}

.flex--between {
	justify-content: space-between;
}

.flex--center {
	justify-content: center;
}

.no-wrap {
	flex-wrap: no-wrap;
}

.cell {
	box-sizing: border-box;
	display: none;
	max-width: 100%;
}

@for $i from 1 through 12 {
	.cell--#{$i} {
		grid-column: auto / span #{$i};
		display: block;
		width: 100%;
	}
}

@each $key,
$value in $breakpoints {
	@include breakpoint($value) {
		@for $i from 1 through 12 {
			.cell--#{$i}--#{$key} {
				grid-column: auto / span #{$i};
				display: block;
				width: 100%;
			}
		}
	}
}

/*------------------------------------*\
# CSS GRID
\*------------------------------------*/

.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(auto, 1fr));
	width: 100%;

	@include breakpoint($large) {
		grid-template-columns: repeat(12, minmax(auto, 1fr));
		grid-column-gap: $gutter;
	}
}

/*------------------------------------*\
# MARGINS
\*------------------------------------*/

.margin--10--large {
	margin-bottom: 0.625rem;
}

.margin--20--large {
	margin-bottom: 2*0.625rem;
}

.margin--30--large {
	margin-bottom: 3*0.625rem;
}

.margin--40--large {
	margin-bottom: 4*0.625rem;
}

/*------------------------------------*\
# HIDE AND SHOW
\*------------------------------------*/

@each $key,
$value in $breakpoints {
	@include breakpoint($value) {
		.hide--#{$key} {
			display: none;
		}
	}
}

@each $key,
$value in $breakpoints {
	@include breakpoint($value) {
		.show--#{$key} {
			display: block;
		}
	}
}
