a {
	text-decoration: none;
	color: $black;
}

/*------------------------------------*\
** VARIABLES
\*------------------------------------*/

$base-font-weight: $font-weight--regular;
$base-font-size: 16px;
$base-line-height: 1.78;
$base-font-color: $black;

/*------------------------------------*\
** HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	margin: 0;
	padding: 0;
	font-weight: $font-weight--regular;
}

h1 {
	@include font-size($h1-font-sizes);
}

h2 {
	@include font-size($h2-font-sizes);
}

h3 {
	@include font-size($h3-font-sizes);
}

h4 {
	@include font-size($h4-font-sizes);
}

h5 {
	@include font-size($h5-font-sizes);
}

h6 {
	@include font-size($h6-font-sizes);
}

/*------------------------------------*\
** LISTS
\*------------------------------------*/

ul li {
	list-style-type: none;
}

ol li {
	list-style-type: none;
}

.bubble-items {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: -1rem;

	li {
		margin-bottom: 0.75rem;
		margin-right: 0.75rem;

		@include breakpoint($large) {
			margin-bottom: 1rem;
			margin-right: 1rem;
		}
	}
}

.bubble-items__item {
	padding: 0 1rem;
	border-radius: 1rem;
	overflow: hidden;
	background-color: $color-gray--lighter;
	color: rgba(26, 26, 26, 0.7);
	font-size: 0.875rem;
	font-weight: $font-weight--semibold;
	line-height: 2.29;
	height: 2rem;
}

.spaced-list {
	padding: 0;
	margin: 0;
}

.spaced-list__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	line-height: 2.29;
	font-size: 0.875rem;
	text-align: right;

	@include breakpoint($large) {
		margin-bottom: 0.75rem;
		line-height: 2;
		font-size: 1rem;
	}

	&:nth-last-child(1) {
		margin-bottom: 0;
	}
}

/*------------------------------------*\
** LINKS
\*------------------------------------*/

a {
	text-decoration: none;
}

/*------------------------------------*\
** OTHER
\*------------------------------------*/

p {
	@include font-size($copy-font-sizes);
	font-family: inherit;
	margin-bottom: 1.5rem;
}

/*------------------------------------*\
# FONT SIZES
\*------------------------------------*/

.font--18--large {
	font-size: 1.125rem;
}

/*------------------------------------*\
** TEXT MODIFIERS
\*------------------------------------*/

.light {
	font-weight: $font-weight--light;
}

.medium {
	font-weight: $font-weight--medium;
}

.semibold {
	font-weight: $font-weight--semibold;
}

.bold {
	font-weight: $font-weight--bold;
}

.extrabold {
	font-weight: $font-weight--extrabold;
}

.heavy {
	font-weight: $font-weight--heavy;
}

.font-style-italic {
	font-style: italic;
}

.font-style-normal {
	font-style: normal;
}

/** colors **/

.color-primary {
	color: $color-primary;
}

.color-secondary {
	color: $color-secondary;
}

.black {
	color: $black;
}

.black--true {
	color: $black--true;
}

.white {
	color: $white;
}

.white--true {
	color: $white--true;
}

.color-gray {
	color: $color-gray;
}

.color-gray--light {
	color: $color-gray--light;
}

.color-gray--ligher {
	color: $color-gray--lighter;
}

.color-gray--lightish {
	color: $color-gray--lightish;
}